<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <button type="button" onclick="getData()">Időjárás adatok</button>
    <div class="forecast">
        <h2>Ország: <span class="adatok"></span></h2>
        <h3>Város: <span class="adatok"></span></h3>
    </div>
    <script src="/script.js"></script>
</body>
</html>