body{
    background-color: #242424;
}

.rectangles{
    margin-inline: auto;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    place-items: center;
}

.rectangle{
    background-color: hsl(255, 0%, 65%);
    box-shadow: 9px 6px 1px 5px rgb(0 0 21 / 0.5);
    width: 150px;
    height: 150px;
    border-radius: 15%;
}