body {
    font-family: cursive;
    font-size: 24px;
}

h1 {
    text-align: center;
    margin: 8px 0 12px;
}

#viz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    width: 800px;
    height: 600px;    
    background-image: url('img/viz9.PNG');
    padding: 16px;
}

.beka {
    width: 90px;
    height: 90px;
    background-color: yellow;
    border: 1px dashed black;    
    margin: 5px;
    border-radius: 50%;
}

#piros {
    background-color: red;
}